<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- ipa文件资源所在地址 一般放内网 局域网访问资源文件快 一般ipa资源文件比较大 -->
					<string>http://192.168.120.168:8000/LearnAndPlayReal.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<!-- bundleID -->
				<string>x.x.x</string>
				<key>bundle-version</key>
				<string>x.x.x</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>App</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>